*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size:1em;
}

html{
    font-family:'Ubuntu', sans-serif;
}

.main_galery {
    width: 100%;
    background-color: #2D3142;
}

.main_galery_content {
    max-width: calc(1300px - 80px);
    padding: 40px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
}

.main_galery_content > header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.main_galery_content_img {
    margin: 20px auto;
}

.main_galery_content_img img {
    width: 250px;
   // max-width: 250px//
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
    background-color: #FFF;
}

.main_galery_content_info h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.main_galery_content_info p {
    margin-bottom: 20px;
    padding: 0 20px;
}

.main_galery_button {
    max-width: 800px;
    margin: 0 auto;
    background-color: #D36833;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main_galery_button > article {
    flex-basis: 15%;

}

.main_galery_button > article h3 {
    font-size: 0.9em;
    margin: 10px 0;
}

.main_galery_button > article h3 a {
    background-color: #FFF;
    color: #D36833;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 20px;
}

.main_galery_button > article h3 a:hover {
    background-color: #2D3142;
    color: #FFF;
}

.main_footer_rights {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #F7F7F7;
    border-top: 1px solid #EBEBEB;
    font-size: 0.9em;
    color: #666;
    font-weight: 300;
}

.zoom{
    transform:scale(calc(1.3));
}

.zoom_out{
    transform:scale(0.7);
}

.background_button_6 {
    background-color: yellowgreen;
}